div{
  display: flex;
}
nav{
  display:flex;

}
.divHead{
  display: flex;
  flex-direction: row;
  padding: 5px;
  background-color: darkolivegreen;

  // background-image: url("../../assets/MqBy.gif");
}
.divNav{
  justify-content: center;
  margin: auto;
}
a{
  color:yellow;
  width: fit-content;
  margin: auto;
  text-decoration: none;
}
.anch:link {
  color: yellow;
  border-color: yellow;
  border: 1px;
  border-radius: 4px;
  padding: 10px;
}

.anch:visited {
  color: yellow;
  border-color: yellow;
  border: 1px;
  border-radius: 4px;
  padding: 10px;
}

.anch:hover {
  color: black;
  background-color: yellow;
  border-color: black;
  border: 1px;
  border-radius: 4px;
  padding: 10px;
}
img{
  max-width: 250px;
}
