<div>
  <div class="divChar">
    <a class="anch" [routerLink]="['/home/new-character']">New character</a>
  </div>


  <h1>The Lord of The Rings Characters</h1>

  <div class="divChar">
    <div *ngFor="let character of characterList">
      <article class="articleChar">
        <a [routerLink]="['/home/characterdetail', character.id]"><strong><img class="image" [src]="character.image"></strong>
        </a>
        <strong>{{character.name}}</strong>
     </article>
    </div>
  </div>
</div>
