.divChar{
  color:yellow;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
}
.image{
  max-width: 400px;
  max-height: 400px;
  margin-left: 250;
}
.divImg{
  justify-content: center;
}
